.button {
	font-size: 18px;
}

/* медиазапросы */
/* screen 425px */
@media screen and (max-width: 425px) {
	.button {
		font-size: 12px;
	}
}

/* screen 768px */
@media screen and (max-width: 768px) {
	.button {
		font-size: 14px;
	}
}

/* screen 992px */
@media screen and (max-width: 992px) {
	.мiddleBlockNotifications {
		width: 30%;
	}

	.мiddleBlockPersonalProgressBar {
		width: 30%;
	}

	.button {
		font-size: 16px;
	}
}

/* screen 1200px */
@media screen and (max-width: 1200px) {
	.мiddleBlockClock {
		width: 30%;
		flex-direction: column;
		justify-content: center;
		font-size: 14px;
	}

	.blockClockText {
		width: 100%;
		text-align: center;
	}
}

/* screen 1600px */
@media screen and (max-width: 1600px) {
	.мiddleBlockClock {
		font-size: 14px;
	}
}